@font-face {
    font-family: 'Monument';
    src: url('../fonts/monument.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Monument';
    src: url('../fonts/monument.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument';
    src: url('../fonts/monument-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Monument';
    src: url('../fonts/monument-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/telegraf.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/telegraf.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/telegraf-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/telegraf-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}